@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/****WP投稿内img制御****/
/*大サイズ画像（先頭クラスは任意）*/
.post p img {
  max-width: 100%;
}

/* 画像配置 左 */
.alignleft {
  text-align: left;
}

/* 画像配置 中央 */
.aligncenter {
  display: block;
  margin: 1px auto;
}

/* 画像配置 右 */
.alignright {
  display: block;
  margin: 1px 1px 1px auto;
}

.alignnone {
  max-width: 100%;
  display: block;
}

.alignnone img {
  max-width: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

body {
  padding-top: 80px;
  font-family: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  color: #1b224c;
}
@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}

.br__xl {
  display: none;
}
@media (max-width: 1400px) {
  .br__xl {
    display: block;
  }
}
.br__lg {
  display: none;
}
@media (max-width: 1200px) {
  .br__lg {
    display: block;
  }
}
.br__md {
  display: none;
}
@media (max-width: 992px) {
  .br__md {
    display: block;
  }
}
.br__sm {
  display: none;
}
@media (max-width: 768px) {
  .br__sm {
    display: block;
  }
}
.br__xsm {
  display: none;
}
@media (max-width: 576px) {
  .br__xsm {
    display: block;
  }
}

.section__container {
  width: 80%;
  max-width: 1060px;
  margin: 0 auto;
}
.section__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;
}
@media (max-width: 992px) {
  .section__container {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .section__container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .section__container {
    width: 95%;
  }
}

.thumbnail {
  position: relative;
  overflow: hidden;
}
.thumbnail::after {
  content: "";
  display: block;
  padding-top: 65%;
}
.thumbnail > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 100;
}
.header__logo {
  width: 136px;
  margin-left: 15px;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav__list > li {
  margin-left: 28px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.9rem;
}
.header__nav__list > li > a {
  position: relative;
}
.header__nav__list > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #1b224c;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}
.header__nav__list > li > a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__nav__sp {
  margin-left: auto;
  margin-right: 10px;
  display: none;
}
.header__nav__sp__slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 200;
}
.header__nav__sp__slider__list {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__nav__sp__slider__list > li {
  margin-top: 20px;
}
.header__nav__sp__slider__list > li > a {
  display: inline-block;
  width: 150px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
}
.header__nav__sp__btn {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 200;
}
.header__nav__sp__btn > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 3px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: #1b224c;
}
.header__nav__sp__btn > span:before, .header__nav__sp__btn > span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 3px;
  background: #1b224c;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__nav__sp__btn > span::before {
  top: 12px;
}
.header__nav__sp__btn > span::after {
  top: -12px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}
.header__links__phone {
  margin-right: 23px;
  text-align: right;
}
.header__links__phone > p {
  font-size: 12px;
  line-height: 2rem;
}
.header__links__phone > a {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.header__links__phone > a > svg {
  margin-bottom: -2px;
  width: 10px;
  height: 14px;
}
.header__links__btn {
  display: block;
  width: 142px;
  padding: 18px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}
.header__links__request {
  background: #f5a623;
  margin-right: 10px;
}
.header__links__request:hover {
  background: #f9cd85;
}
.header__links__contact {
  background: #1b224c;
  margin-right: 10px;
}
.header__links__contact:hover {
  background: #3c4caa;
}
@media (max-width: 992px) {
  .header__links__request, .header__links__contact {
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 50%;
    border-radius: 0;
    z-index: 100;
  }
  .header__links__request {
    left: 0;
  }
  .header__links__contact {
    right: 0;
  }
}
@media (max-width: 768px) {
  .header {
    height: 60px;
  }
  .header__logo {
    width: 110px;
  }
  .header__nav {
    display: none;
  }
  .header__nav__sp {
    display: block;
  }
  .header__links {
    margin-left: 20px;
  }
}

.jsBtnActive > span {
  background: transparent;
}
.jsBtnActive > span::before {
  -webkit-transform: rotate(-45deg) translate(3px, 6px);
          transform: rotate(-45deg) translate(3px, 6px);
}
.jsBtnActive > span::after {
  -webkit-transform: rotate(45deg) translate(3px, -6px);
          transform: rotate(45deg) translate(3px, -6px);
}

.jsSliderActive {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mainvisual {
  position: relative;
  width: 100%;
  height: 37vw;
  background: url(../img/fv.png) no-repeat center/cover;
  color: #fff;
  text-align: center;
}
.mainvisual__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mainvisual__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.5rem;
}
.mainvisual__text {
  margin-top: 28px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.1rem;
}
.mainvisual__request {
  display: block;
  width: 260px;
  height: 60px;
  margin: 0 auto;
  margin-top: 51px;
  padding: 21px 0;
  background: #f5a623;
  border-radius: 31px;
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}
.mainvisual__request:hover {
  background: #f9cd85;
}
.mainvisual__contact {
  display: inline-block;
  margin-top: 22px;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: underline;
}
.mainvisual__contact:hover {
  font-weight: 700;
}
@media (max-width: 1200px) {
  .mainvisual {
    height: 50vw;
  }
}
@media (max-width: 768px) {
  .mainvisual {
    height: 400px;
    background-position: 70% 0;
  }
}

.intro {
  padding: 63px 0 54px;
  text-align: center;
  background: #1b224c;
  color: #fff;
}
.intro__title > span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(30%, #f5a623));
  background: linear-gradient(transparent 70%, #f5a623 30%);
}
.intro__text {
  margin-top: 25px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.1rem;
}
.intro__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.intro__items > li {
  margin: 0 31px;
}
.intro__items__sp {
  display: none;
  margin-top: 50px;
}
.intro__items__sp > li {
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.intro__items__sp > li > span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.intro__items__sp > li > span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 2px solid #f5a623;
  border-left: 2px solid #f5a623;
}
.intro__wrapper {
  position: relative;
  margin-top: 83px;
  padding: 32px;
  background: #fff;
  color: #1b224c;
}
.intro__wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 5px solid #1b224c;
}
@media (max-width: 768px) {
  .intro__items {
    display: none;
  }
  .intro__items__sp {
    display: block;
  }
}

.feature {
  padding: 59px 0 39px;
}
.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.feature__item:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.feature__item__contents {
  -ms-flex-preferred-size: calc(61% - 50px);
      flex-basis: calc(61% - 50px);
}
.feature__item__contents__icon {
  width: 90px;
  padding: 6px 0;
  background: #f5a623;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.feature__item__contents__title {
  margin-top: 45px;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.feature__item__contents__text {
  margin-top: 39px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.feature__item__img {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}
.feature__price {
  margin-top: 96px;
  padding: 61px 0 53px;
  color: #fff;
  background: url(../img/price.png) no-repeat center/cover;
  text-align: center;
}
.feature__price__title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.feature__price__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 27px;
  padding: 15px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}
.feature__price__btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .feature__item {
    position: relative;
    display: block;
  }
  .feature__item:nth-of-type(odd) .feature__item__img {
    right: 0;
  }
  .feature__item:nth-of-type(even) .feature__item__img {
    left: 0;
  }
  .feature__item:nth-of-type(even) .feature__item__contents {
    margin-left: auto;
  }
  .feature__item__img {
    position: absolute;
    top: 40px;
    width: 60%;
    z-index: -1;
  }
  .feature__item__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
  .feature__item__contents {
    width: 80%;
  }
  .feature__price__btn {
    width: 80%;
  }
}

.performance {
  padding: 58px 0 60px;
  background: #1b224c;
}
.performance__title {
  color: #fff;
}
.performance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 137px;
}
.performance__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 30px * 2) / 3);
}
.performance__item__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.9rem;
}
.performance__item__img {
  position: relative;
  height: 15vw;
  margin-top: 9px;
  background: #fff;
}
.performance__item__img > img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90%;
  width: auto;
}
.performance__item__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-top: 15px;
}
.performance__item__bio__work, .performance__item__bio__name {
  padding-left: 10px;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}
.performance__item__bio__work {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.performance__item__bio__name {
  margin-left: 10px;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.performance__item__score {
  margin-top: 10px;
  padding-left: 10px;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}
@media (max-width: 768px) {
  .performance__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
  }
  .performance__item {
    width: 100%;
    max-width: 360px;
    margin-top: 50px;
  }
  .performance__item__img {
    height: 200px;
  }
}

.flow {
  padding: 58px 0 0;
}
.flow__wrapper {
  margin-top: 53px;
}
.flow__list {
  margin-top: 53px;
}
.flow__list__item {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5a623;
}
.flow__list__item__number {
  display: block;
  width: 64px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}
.flow__list__item__text {
  -ms-flex-preferred-size: calc(100% - 64px);
      flex-basis: calc(100% - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 21px 18px;
  background: #f8f8f8;
}
.flow__list__item__text > dt {
  min-width: 240px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4rem;
  border-right: 1px solid #c3c3c3;
}
.flow__list__item__text > dd {
  padding-left: 21px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
@media (max-width: 992px) {
  .flow__list__item__text > dt {
    min-width: 200px;
  }
}
@media (max-width: 768px) {
  .flow__list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flow__list__item__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .flow__list__item__text > dt {
    min-width: 180px;
    border-right: none;
  }
  .flow__list__item__text > dd {
    margin-top: 10px;
  }
}

.faq {
  padding: 75px 0 0;
}
.faq__wrapper {
  margin-top: 32px;
  border-bottom: 1px solid #1b224c;
}
.faq__item {
  border-top: 1px solid #1b224c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.faq__item__question {
  position: relative;
  padding: 21px 50px 21px 0;
  cursor: pointer;
}
.faq__item__question::before, .faq__item__question::after {
  content: "";
  position: absolute;
  top: 50%;
  background: #1b224c;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.faq__item__question::before {
  right: 19px;
  width: 25px;
  height: 3px;
}
.faq__item__question::after {
  right: 30px;
  width: 3px;
  height: 25px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.faq__item__answer {
  margin-bottom: 15px;
  padding: 23px 26px;
  background: #f8f8f8;
}
.faq__item__answer__close {
  display: none;
}

.jsQuestionActive::after {
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
}

.contents {
  padding: 90px 0 119px;
}
.contents__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contents__blog {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.contents__blog__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 5.4rem;
}
.contents__blog__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.contents__blog__card__category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 9px;
  background: #1b224c;
  color: #fff;
  font-size: 12px;
  line-height: 23px;
  z-index: 5;
}
.contents__blog__card__img {
  position: relative;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  overflow: hidden;
}
.contents__blog__card__img > img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}
.contents__blog__card__text {
  position: relative;
  -ms-flex-preferred-size: calc(65% - 20px);
      flex-basis: calc(65% - 20px);
}
.contents__blog__card__text__title {
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: underline;
}
.contents__blog__card__text__date {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  line-height: 20px;
}
.contents__blog__card:hover .contents__blog__card__img > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contents__blog__card:hover .contents__blog__card__text {
  color: #364497;
}
.contents__info {
  -ms-flex-preferred-size: calc(50% - 67px);
      flex-basis: calc(50% - 67px);
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}
.contents__info__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 5.4rem;
}
.contents__info__wrapper {
  margin-top: 30px;
}
.contents__info__card {
  display: block;
}
.contents__info__card:not(:first-of-type) {
  margin-top: 16px;
}
.contents__info__card__date {
  font-size: 12px;
  line-height: 20px;
}
.contents__info__card__title {
  height: 60px;
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: underline;
}
.contents__info__card:hover {
  color: #364497;
}
@media (max-width: 992px) {
  .contents__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents__info {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .contents__blog__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents__blog__card__text__date {
    position: static;
    display: inline-block;
    margin-top: 10px;
  }
}

.links__container {
  position: relative;
  width: 100%;
  height: 20vw;
  background: url(../img/cta.png) no-repeat center/cover;
  color: #fff;
  text-align: center;
}
.links__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.links__request__btn {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  width: 280px;
  height: 50px;
  background: #f5a623;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 50px;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}
.links__request__btn:hover {
  background: #f9cd85;
}
.links__contact__btn {
  display: inline-block;
  margin-top: 22px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-decoration: underline;
}
.links__contact__btn:hover {
  font-weight: 800;
}
.links__phone {
  padding: 23px 0;
  text-align: center;
}
.links__phone__wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.links__phone__title, .links__phone__text {
  position: absolute;
  bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.5rem;
}
.links__phone__title {
  left: -20px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.links__phone__text {
  right: -20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.links__phone__btn {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.7rem;
}
@media (max-width: 992px) {
  .links__container {
    height: 260px;
  }
  .links__wrapper {
    width: 80%;
  }
  .links__request__btn {
    width: 100%;
  }
  .links__phone__title, .links__phone__text {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.footer {
  background: #1b224c;
}
.footer__container {
  padding: 35px 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
.footer__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__nav > ul > li {
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 27px;
}
.footer__nav > ul > li:not(:last-of-type) {
  margin-right: 43px;
}
.footer__nav > ul > li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -22px;
  width: 1px;
  height: 27px;
  background: #fff;
}
.footer__nav > ul > li > a {
  position: relative;
}
.footer__nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}
.footer__nav > ul > li > a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__links {
  text-align: right;
}
.footer__links__logo {
  display: block;
  width: 150px;
  height: 50px;
  padding: 14px 19px;
  background: #fff;
  text-align: center;
}
.footer__links__phone {
  display: inline-block;
  margin-top: 27px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.7rem;
}
.footer__links__phone > svg {
  margin-bottom: -2px;
}
.footer__links__text {
  margin-top: 13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.footer__copy {
  padding: 12px 0;
  background: #fff;
}
.footer__copy__container {
  text-align: right;
}
.footer__copy__container > small {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
@media (max-width: 992px) {
  .footer {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .footer__nav {
    text-align: center;
  }
  .footer__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav > ul > li:not(:last-of-type) {
    margin-right: 0;
  }
  .footer__nav > ul > li::after {
    display: none;
  }
  .footer__links {
    text-align: center;
  }
  .footer__links__logo {
    margin: 0 auto;
  }
  .footer__copy__container {
    text-align: center;
  }
}

.subvisual {
  position: relative;
  height: 221px;
}
.subvisual__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 5.4rem;
}
.subvisual__plan {
  background: url(../img/plan.png) no-repeat center/cover;
}
.subvisual__archive {
  background: url(../img/blog.png) no-repeat center/cover;
}
.subvisual__news {
  background: url(../img/news.png) no-repeat center/cover;
}
.subvisual__contact {
  background: url(../img/cta.png) no-repeat center/cover;
}

.breadcrumbs__wrapper {
  background: #f8f8f8;
}
.breadcrumbs span {
  display: inline-block;
  margin: 7px 6px;
  font-size: 12px;
  line-height: 20px;
}
.breadcrumbs span:first-of-type {
  margin-left: 0;
}

.desc {
  margin-top: 77px;
}
.desc__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 66px;
}
.desc__item {
  position: relative;
  width: 280px;
  height: 90px;
  background: #1b224c;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
}
.desc__item:not(:first-of-type) {
  margin-left: 98px;
}
.desc__item:not(:first-of-type)::before, .desc__item:not(:first-of-type)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  display: inline-block;
  width: 1px;
  height: 27px;
  background: #1b224c;
}
.desc__item:not(:first-of-type):before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.desc__item:not(:first-of-type)::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.desc__text {
  margin-top: 46px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7re;
}
@media (max-width: 768px) {
  .desc__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desc__item:not(:first-of-type) {
    margin-top: 98px;
    margin-left: 0;
  }
  .desc__item:not(:first-of-type)::before, .desc__item:not(:first-of-type)::after {
    top: -50%;
    left: 50%;
  }
}

.detail {
  padding: 90px 0 67px;
}
.detail__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detail__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  width: calc((100% - 7px * 3) / 4);
}
.detail__card::before {
  position: relative;
  display: block;
  content: "おすすめ";
  width: 100%;
  padding-top: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.detail__card--recommend::before {
  background: #f5a623;
}
.detail__card--recommend .detail__card__title {
  background: #f5a623;
}
.detail__card--recommend .detail__card__price {
  color: #f5a623;
}
.detail__card__title {
  position: relative;
  width: 100%;
  height: 60px;
  background: #1b224c;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.detail__card__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 30px 94px;
  border-bottom: 1px solid #1b224c;
  border-left: 1px solid #1b224c;
  border-right: 1px solid #1b224c;
  text-align: center;
}
.detail__card__price {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4rem;
}
.detail__card__notice {
  margin-top: 14px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.detail__card__list {
  margin-top: 49px;
}
.detail__card__list__item {
  margin-top: 19px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
.detail__card__list__item--check::before {
  position: relative;
  bottom: 3px;
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  margin-right: 5px;
  border-bottom: 3px solid #1b224c;
  border-left: 3px solid #1b224c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 992px) {
  .detail__wrapper {
    min-width: 900px;
  }
}

.article {
  padding: 60px 0 45px;
}
.article__list {
  margin-top: 60px;
}
.article__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article__item:not(:first-of-type) {
  margin-top: 93px;
}
.article__item__category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 9px;
  background: #1b224c;
  color: #fff;
  font-size: 12px;
  line-height: 28px;
}
.article__item__img {
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
}
.article__item__contents {
  -ms-flex-preferred-size: calc(74% - 50px);
      flex-basis: calc(74% - 50px);
}
.article__item__contents__date {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
}
.article__item__contents__title {
  margin-top: 20px;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.9rem;
  text-decoration: underline;
}
.article__item__contents__text {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
@media (max-width: 768px) {
  .article__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__item__contents {
    margin-top: 20px;
  }
}

.pagination {
  margin-top: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination > li:not(:first-of-type) {
  margin-left: 19px;
}
.pagination__md {
  margin-top: 80px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__md > li:not(:first-of-type) {
  margin-left: 10px;
}
.pagination__item, .pagination__btn, .pagination__dot {
  height: 50px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
.pagination__btn {
  width: 30px;
  font-size: 2rem;
  border: 1px solid #1b224c;
}
.pagination__btn > a {
  display: inline-block;
  width: 100%;
  height: 50px;
}
.pagination__item {
  width: 50px;
  border: 1px solid #1b224c;
}
.pagination__item > a {
  display: inline-block;
  width: 100%;
  height: 50px;
}
.pagination__item__active {
  background: #1b224c;
  color: #fff;
}
@media (max-width: 992px) {
  .pagination {
    display: none;
  }
  .pagination__md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news {
  padding: 58px 0 46px;
}
.news__wrapper {
  margin-top: 45px;
  border-top: 1px solid #d5d5d5;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #d5d5d5;
}
.news__item__date {
  -ms-flex-preferred-size: 136px;
      flex-basis: 136px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.news__item__title {
  padding-right: 25px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__item__date {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .news__item__title {
    margin-top: 10px;
    padding-right: 0;
  }
}

.single {
  padding: 60px 0 69px;
}
.single__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.single__wrapper {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  max-width: 66%;
}
.single__sidebar {
  -ms-flex-preferred-size: calc(34% - 36px);
      flex-basis: calc(34% - 36px);
}
.single__sidebar__title {
  width: 100%;
  background: #1b224c;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
@media (max-width: 992px) {
  .single__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single__wrapper {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    max-width: none;
  }
  .single__sidebar {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.entry h1 {
  margin-top: 30px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.2rem;
}
.entry__body h2 {
  margin-top: 40px;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.entry__body h3 {
  margin-top: 30px;
  position: relative;
  padding-left: 14px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.3rem;
}
.entry__body h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 4px;
  height: 2.8rem;
  background: #1b224c;
}
.entry__body p {
  margin-top: 30px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.entry__body blockquote {
  position: relative;
  margin-top: 30px;
  padding: 27px 26px 17px 74px;
  background: #f8f8f8;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.entry__body blockquote::before {
  position: absolute;
  top: 16px;
  left: 17px;
  content: "“";
  color: #b4b4b4;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1;
}
.entry__body img {
  margin-top: 30px;
}
.entry__body ul {
  margin-top: 30px;
}
.entry__body ul > li {
  position: relative;
  padding-left: 36px;
}
.entry__body ul > li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  width: 11px;
  height: 11px;
  background: #f5a623;
  border-radius: 50%;
}
.entry__body a {
  display: inline-block;
  margin-top: 30px;
  color: #f5a623;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: underline;
}
.entry__category {
  display: inline-block;
  padding: 0 25px;
  background: #1b224c;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.entry__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.entry__header__sns__facebook, .entry__header__sns__share, .entry__header__sns__twitter {
  padding: 0 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
}
.entry__header__sns__facebook > svg, .entry__header__sns__share > svg, .entry__header__sns__twitter > svg {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 5px;
}
.entry__header__sns__facebook, .entry__header__sns__share {
  background: #305097;
}
.entry__header__sns__twitter {
  background: #00aced;
}
.entry__date {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.entry__img {
  width: 100%;
  margin-top: 22px;
}
.entry__img > img {
  width: 100%;
}

.recommend {
  padding: 60px 0 69px;
}
.recommend__title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.recommend__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.recommend__card__category {
  position: absolute;
  padding: 0 12px;
  background: #1b224c;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  z-index: 5;
}
.recommend__card__img {
  -ms-flex-preferred-size: 36%;
      flex-basis: 36%;
}
.recommend__card__contents {
  -ms-flex-preferred-size: calc(64% - 32px);
      flex-basis: calc(64% - 32px);
}
.recommend__card__contents__date {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
}
.recommend__card__contents__title {
  margin-top: 29px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .recommend__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recommend__card__img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .recommend__card__contents {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 20px;
  }
  .recommend__card__contents__title {
    margin-top: 10px;
  }
}

.related {
  padding-bottom: 49px;
}
.related__wrapper {
  margin-top: 30px;
}
.related__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.related__card:not(:first-of-type) {
  margin-top: 39px;
}
.related__card__img {
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
}
.related__card__title {
  -ms-flex-preferred-size: calc(63% - 17px);
      flex-basis: calc(63% - 17px);
  font-size: 12px;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .related__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .related__card__title {
    margin-top: 10px;
  }
}

.category__list {
  margin-top: 30px;
}
.category__list__item {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.category__list__item::before {
  content: "・";
}

.news-single {
  padding: 30px 0 53px;
}

.form {
  padding: 58px 0 82px;
}
.form__container {
  width: 55%;
  max-width: 700px;
  margin: 0 auto;
}
.form__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.form__text__inner {
  margin-top: 29px;
}
.form__text > a {
  color: #f5a623;
  text-decoration: underline;
}
.form__wrapper--center {
  text-align: center;
}
.form form dl {
  margin-top: 41px;
}
.form form dl > dt:not(:first-of-type) {
  margin-top: 20px;
}
.form form dl > dd {
  margin-top: 12px;
}
.form form label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.form form input[type=text],
.form form input[type=email],
.form form input[type=tel],
.form form textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #1b224c;
  font-size: 12px;
  line-height: 20px;
  color: #1b224c;
}
.form form input[type=text]::-webkit-input-placeholder, .form form input[type=email]::-webkit-input-placeholder, .form form input[type=tel]::-webkit-input-placeholder, .form form textarea::-webkit-input-placeholder {
  color: #b4b4b4;
}
.form form input[type=text]::-moz-placeholder, .form form input[type=email]::-moz-placeholder, .form form input[type=tel]::-moz-placeholder, .form form textarea::-moz-placeholder {
  color: #b4b4b4;
}
.form form input[type=text]:-ms-input-placeholder, .form form input[type=email]:-ms-input-placeholder, .form form input[type=tel]:-ms-input-placeholder, .form form textarea:-ms-input-placeholder {
  color: #b4b4b4;
}
.form form input[type=text]::-ms-input-placeholder, .form form input[type=email]::-ms-input-placeholder, .form form input[type=tel]::-ms-input-placeholder, .form form textarea::-ms-input-placeholder {
  color: #b4b4b4;
}
.form form input[type=text]::placeholder,
.form form input[type=email]::placeholder,
.form form input[type=tel]::placeholder,
.form form textarea::placeholder {
  color: #b4b4b4;
}
.form form input[type=radio] + span {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  padding-left: 39px;
}
.form form input[type=radio] + span::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #707070;
}
.form form input[type=radio] + span:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  opacity: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1b224c;
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
}
.form form input[type=radio]:checked + span::after {
  opacity: 1;
}
.form form input[type=checkbox] + span {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  padding-left: 39px;
}
.form form input[type=checkbox] + span::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
}
.form form input[type=checkbox] + span:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  opacity: 0;
  width: 15px;
  height: 10px;
  border-bottom: 2px solid #1b224c;
  border-left: 2px solid #1b224c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
}
.form form input[type=checkbox]:checked + span::after {
  opacity: 1;
}
.form form input[type=submit] {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  width: 200px;
  background: #1b224c;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  .form__container {
    width: 80%;
  }
}

.thanks {
  padding: 83px 0 80px;
  text-align: center;
}
.thanks__text, .thanks__btn {
  font-size: 1.6rem;
  font-weight: 40;
  line-height: 2.7rem;
}
.thanks__btn {
  display: inline-block;
  margin-top: 83px;
  text-decoration: underline;
}
.thanks__btn:not(:first-of-type) {
  margin-left: 30px;
}
/*# sourceMappingURL=style.css.map */