$baseColor: #1b224c;
$accentColor: #f5a623;
$boxColor: #f8f8f8;
$borderColor: #c3c3c3;
$btnBorderColor: #707070;
$plaseColor: #b4b4b4;
$snsColorFb: #305097;
$snsColorTw: #00aced;
$newsBorderColor: #d5d5d5;
