@use 'setting' as s;

/****WP投稿内img制御****/
/*大サイズ画像（先頭クラスは任意）*/
.post p img {
  max-width: 100%;
}

/* 画像配置 左 */
.alignleft {
  text-align: left;
}

/* 画像配置 中央 */
.aligncenter {
  display: block;
  margin: 1px auto;
}

/* 画像配置 右 */
.alignright {
  display: block;
  margin: 1px 1px 1px auto;
}

.alignnone {
  max-width: 100%;
  display: block;
}
.alignnone img {
  max-width: 100%;
}

//共通

html {
  @include s.sm {
    font-size: 55%;
  }
}

body {
  padding-top: 80px;
  font-family: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  //   "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
  //   Verdana, Meiryo, sans-serif;
  color: s.$baseColor;

  @include s.sm {
    padding-top: 60px;
  }
}

.br {
  &__xl {
    display: none;

    @include s.xl {
      display: block;
    }
  }

  &__lg {
    display: none;

    @include s.lg {
      display: block;
    }
  }

  &__md {
    display: none;

    @include s.md {
      display: block;
    }
  }

  &__sm {
    display: none;

    @include s.sm {
      display: block;
    }
  }

  &__xsm {
    display: none;

    @include s.xsm {
      display: block;
    }
  }
}

.section {
  &__container {
    width: 80%;
    max-width: 1060px;
    margin: 0 auto;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
  }

  @include s.md {
    &__container {
      width: 85%;
    }
  }

  @include s.sm {
    &__container {
      width: 90%;
    }
  }

  @include s.xsm {
    &__container {
      width: 95%;
    }
  }
}

.thumbnail {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-top: 65%;
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//section

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 100;

  &__logo {
    width: 136px;
    margin-left: 15px;
  }

  &__nav {
    &__list {
      display: flex;
      > li {
        margin-left: 28px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.9rem;

        > a {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: s.$baseColor;
            transform: scaleX(0);
            transform-origin: left;
            transition: 0.3s transform ease;
          }

          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    &__sp {
      margin-left: auto;
      margin-right: 10px;
      display: none;

      &__slider {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(#fff, 0.8);
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        z-index: 200;

        &__list {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);

          > li {
            margin-top: 20px;
            > a {
              display: inline-block;
              width: 150px;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 2rem;
            }
          }
        }
      }

      &__btn {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 200;

        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40px;
          height: 3px;
          transition: background-color 0.3s ease;
          background: s.$baseColor;

          &:before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 40px;
            height: 3px;
            background: s.$baseColor;
            transform-origin: left;
            transition: transform 0.3s ease;
          }

          &::before {
            top: 12px;
          }
          &::after {
            top: -12px;
          }
        }
      }
    }
  }

  &__links {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 10px;

    &__phone {
      margin-right: 23px;
      text-align: right;
      > p {
        font-size: 12px;
        line-height: 2rem;
      }
      > a {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.6rem;

        > svg {
          margin-bottom: -2px;
          width: 10px;
          height: 14px;
        }
      }
    }

    &__btn {
      display: block;
      width: 142px;
      padding: 18px;
      border-radius: 5px;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      transition: 0.3s background-color ease;
    }

    &__request {
      background: s.$accentColor;
      margin-right: 10px;

      &:hover {
        background: lighten(s.$accentColor, 20);
      }
    }

    &__contact {
      background: s.$baseColor;
      margin-right: 10px;

      &:hover {
        background: lighten(s.$baseColor, 25);
      }
    }
  }

  @include s.md {
    &__links {
      &__request,
      &__contact {
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 50%;
        border-radius: 0;
        z-index: 100;
      }

      &__request {
        left: 0;
      }
      &__contact {
        right: 0;
      }
    }
  }

  @include s.sm {
    height: 60px;

    &__logo {
      width: 110px;
    }
    &__nav {
      display: none;

      &__sp {
        display: block;
      }
    }

    &__links {
      margin-left: 20px;
    }
  }
}

//js操作
.jsBtnActive {
  > span {
    background: transparent;

    &::before {
      transform: rotate(-45deg) translate(3px, 6px);
    }

    &::after {
      transform: rotate(45deg) translate(3px, -6px);
    }
  }
}

.jsSliderActive {
  transform: translateY(0);
}

.mainvisual {
  position: relative;
  width: 100%;
  height: 37vw;
  background: url(../img/fv.png) no-repeat center/cover;
  color: #fff;
  text-align: center;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.5rem;
  }

  &__text {
    margin-top: 28px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.1rem;
  }

  &__request {
    display: block;
    width: 260px;
    height: 60px;
    margin: 0 auto;
    margin-top: 51px;
    padding: 21px 0;
    background: s.$accentColor;
    border-radius: 31px;
    font-size: 1.6rem;
    font-weight: 700;
    transition: 0.3s background-color ease;

    &:hover {
      background: lighten(s.$accentColor, 20);
    }
  }

  &__contact {
    display: inline-block;
    margin-top: 22px;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: underline;

    &:hover {
      font-weight: 700;
    }
  }

  @include s.lg {
    height: 50vw;
  }

  @include s.sm {
    height: 400px;
    background-position: 70% 0;
  }
}

.intro {
  padding: 63px 0 54px;
  text-align: center;
  background: s.$baseColor;
  color: #fff;

  &__title {
    > span {
      background: linear-gradient(transparent 70%, s.$accentColor 30%);
    }
  }

  &__text {
    margin-top: 25px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.1rem;
  }

  &__items {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.9rem;

    > li {
      margin: 0 31px;
    }

    &__sp {
      display: none;
      margin-top: 50px;

      > li {
        margin-top: 8px;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 3.9rem;
        > span {
          position: relative;
          display: inline-block;
          padding-left: 20px;
          &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 12px;
            height: 8px;
            transform: rotate(-45deg);
            border-bottom: 2px solid s.$accentColor;
            border-left: 2px solid s.$accentColor;
          }
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    margin-top: 83px;
    padding: 32px;
    background: #fff;
    color: s.$baseColor;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      border: 5px solid s.$baseColor;
    }
  }

  @include s.sm {
    &__items {
      display: none;

      &__sp {
        display: block;
      }
    }
  }
}

.feature {
  padding: 59px 0 39px;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    &__contents {
      flex-basis: calc(61% - 50px);

      &__icon {
        width: 90px;
        padding: 6px 0;
        background: s.$accentColor;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
      }

      &__title {
        margin-top: 45px;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.9rem;
      }

      &__text {
        margin-top: 39px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.7rem;
      }
    }

    &__img {
      flex-basis: 39%;
    }
  }

  &__price {
    margin-top: 96px;
    padding: 61px 0 53px;
    color: #fff;
    background: url(../img/price.png) no-repeat center/cover;
    text-align: center;

    &__title {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 3.9rem;
    }

    &__btn {
      display: block;
      width: 200px;
      height: 50px;
      margin: 0 auto;
      margin-top: 27px;
      padding: 15px 0;
      border-radius: 25px;
      border: 1px solid #fff;
      transition: 0.3s background-color ease;

      &:hover {
        background: rgba(#000, 0.3);
      }
    }
  }

  @include s.sm {
    &__item {
      position: relative;
      display: block;

      &:nth-of-type(odd) {
        .feature__item__img {
          right: 0;
        }
      }

      &:nth-of-type(even) {
        .feature__item__img {
          left: 0;
        }

        .feature__item__contents {
          margin-left: auto;
        }
      }

      &__img {
        position: absolute;
        top: 40px;
        width: 60%;
        z-index: -1;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(#fff, 0.8);
        }
      }

      &__contents {
        width: 80%;
      }
    }

    &__price {
      &__btn {
        width: 80%;
      }
    }
  }
}

.performance {
  padding: 58px 0 60px;
  background: s.$baseColor;

  &__title {
    color: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px * 2) / 3);

    &__title {
      width: 100%;
      display: flex;
      flex-grow: 1;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.9rem;
    }

    &__img {
      position: relative;
      height: 15vw;
      margin-top: 9px;
      background: #fff;

      > img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 90%;
        width: auto;
      }
    }

    &__bio {
      display: flex;
      flex-grow: 1;
      width: 100%;
      margin-top: 15px;

      &__work,
      &__name {
        padding-left: 10px;
        background: #fff;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3.2rem;
      }

      &__work {
        flex-basis: 35%;
      }
      &__name {
        margin-left: 10px;
        flex-basis: 65%;
      }
    }

    &__score {
      margin-top: 10px;
      padding-left: 10px;
      background: #fff;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3.2rem;
    }
  }

  @include s.sm {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
    }

    &__item {
      width: 100%;
      max-width: 360px;
      margin-top: 50px;

      &__img {
        height: 200px;
      }
    }
  }
}

.flow {
  padding: 58px 0 0;

  &__wrapper {
    margin-top: 53px;
  }

  &__list {
    margin-top: 53px;

    &__item {
      margin-top: 8px;
      display: flex;
      align-items: center;
      background: s.$accentColor;

      &__number {
        display: block;
        width: 64px;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
      }

      &__text {
        flex-basis: calc(100% - 64px);
        display: flex;
        align-items: center;
        padding: 16px 21px 18px;
        background: s.$boxColor;

        > dt {
          min-width: 240px;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 4rem;
          border-right: 1px solid s.$borderColor;
        }

        > dd {
          padding-left: 21px;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.7rem;
        }
      }
    }
  }

  @include s.md {
    &__list {
      &__item {
        &__text {
          > dt {
            min-width: 200px;
          }
        }
      }
    }
  }

  @include s.sm {
    &__list {
      &__item {
        flex-direction: column;
        &__text {
          flex-direction: column;
          width: 100%;
          text-align: center;
          > dt {
            min-width: 180px;
            border-right: none;
          }

          > dd {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.faq {
  padding: 75px 0 0;

  &__wrapper {
    margin-top: 32px;
    border-bottom: 1px solid s.$baseColor;
  }

  &__item {
    border-top: 1px solid s.$baseColor;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;

    &__question {
      position: relative;
      padding: 21px 50px 21px 0;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        background: s.$baseColor;
        transform: translateY(-50%);
      }

      &::before {
        right: 19px;
        width: 25px;
        height: 3px;
      }

      &::after {
        right: 30px;
        width: 3px;
        height: 25px;
        transition: transform 0.3s;
      }
    }

    &__answer {
      margin-bottom: 15px;
      padding: 23px 26px;
      background: s.$boxColor;

      &__close {
        display: none;
      }
    }
  }
}

//js制御用
.jsQuestionActive {
  &::after {
    transform: translateY(-50%) scaleY(0);
  }
}

.contents {
  padding: 90px 0 119px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__blog {
    flex-basis: 50%;

    &__title {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 5.4rem;
    }

    &__card {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      &__category {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 9px;
        background: s.$baseColor;
        color: #fff;
        font-size: 12px;
        line-height: 23px;
        z-index: 5;
      }

      &__img {
        position: relative;
        flex-basis: 35%;
        overflow: hidden;

        > img {
          transform: scale(1);
          transition: 0.3s transform ease;
        }
      }

      &__text {
        position: relative;
        flex-basis: calc(65% - 20px);

        &__title {
          height: 100%;
          font-size: 1.6rem;
          font-weight: 700;
          text-decoration: underline;
        }

        &__date {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 12px;
          line-height: 20px;
        }
      }

      &:hover {
        .contents__blog__card__img {
          > img {
            transform: scale(1.1);
          }
        }

        .contents__blog__card__text {
          color: lighten(s.$baseColor, 20);
        }
      }
    }
  }

  &__info {
    flex-basis: calc(50% - 67px);
    transition: 0.3s color ease;

    &__title {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 5.4rem;
    }

    &__wrapper {
      margin-top: 30px;
    }

    &__card {
      display: block;
      &:not(:first-of-type) {
        margin-top: 16px;
      }

      &__date {
        font-size: 12px;
        line-height: 20px;
      }

      &__title {
        height: 60px;
        margin-top: 16px;
        font-size: 1.6rem;
        font-weight: 700;
        text-decoration: underline;
      }

      &:hover {
        color: lighten(s.$baseColor, 20);
      }
    }
  }

  @include s.md {
    &__container {
      flex-direction: column;
    }

    &__info {
      margin-top: 50px;
    }
  }

  @include s.sm {
    &__blog {
      &__card {
        flex-direction: column;

        &__text {
          &__date {
            position: static;
            display: inline-block;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.links {
  &__container {
    position: relative;
    width: 100%;
    height: 20vw;
    background: url(../img/cta.png) no-repeat center/cover;
    color: #fff;
    text-align: center;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__request__btn {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    width: 280px;
    height: 50px;
    background: s.$accentColor;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 50px;
    transition: 0.3s background-color ease;

    &:hover {
      background: lighten(s.$accentColor, 20);
    }
  }

  &__contact__btn {
    display: inline-block;
    margin-top: 22px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;
    text-decoration: underline;

    &:hover {
      font-weight: 800;
    }
  }

  &__phone {
    padding: 23px 0;
    text-align: center;

    &__wrapper {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }

    &__title,
    &__text {
      position: absolute;
      bottom: 0;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 3.5rem;
    }

    &__title {
      left: -20px;
      transform: translateX(-100%);
    }

    &__text {
      right: -20px;
      transform: translateX(100%);
    }

    &__btn {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.7rem;
    }
  }

  @include s.md {
    &__container {
      height: 260px;
    }

    &__wrapper {
      width: 80%;
    }

    &__request__btn {
      width: 100%;
    }

    &__phone {
      &__title,
      &__text {
        position: static;
        transform: translateX(0);
      }
    }
  }
}

.footer {
  background: s.$baseColor;

  &__container {
    padding: 35px 0 68px;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__nav {
    > ul {
      display: flex;

      > li {
        position: relative;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 27px;

        &:not(:last-of-type) {
          margin-right: 43px;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -22px;
            width: 1px;
            height: 27px;
            background: #fff;
          }
        }

        > a {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            transform: scaleX(0);
            transform-origin: left;
            transition: 0.3s transform ease;
          }

          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  &__links {
    text-align: right;

    &__logo {
      display: block;
      width: 150px;
      height: 50px;
      padding: 14px 19px;
      background: #fff;
      text-align: center;
    }

    &__phone {
      display: inline-block;
      margin-top: 27px;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.7rem;

      > svg {
        margin-bottom: -2px;
      }
    }

    &__text {
      margin-top: 13px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &__copy {
    padding: 12px 0;
    background: #fff;

    &__container {
      text-align: right;

      > small {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }

  @include s.md {
    margin-bottom: 60px;
  }

  @include s.sm {
    &__container {
      flex-direction: column;
    }

    &__links {
      margin-top: 30px;
    }
  }

  @include s.xsm {
    &__nav {
      text-align: center;
      > ul {
        flex-direction: column;

        > li {
          &:not(:last-of-type) {
            margin-right: 0;
          }
          &::after {
            display: none;
          }
        }
      }
    }

    &__links {
      text-align: center;

      &__logo {
        margin: 0 auto;
      }
    }

    &__copy {
      &__container {
        text-align: center;
      }
    }
  }
}

//サブページ共通
.subvisual {
  position: relative;
  height: 221px;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5.4rem;
  }

  ////ページ毎設定
  &__plan {
    background: url(../img/plan.png) no-repeat center/cover;
  }

  &__archive {
    background: url(../img/blog.png) no-repeat center/cover;
  }

  &__news {
    background: url(../img/news.png) no-repeat center/cover;
  }

  &__contact {
    background: url(../img/cta.png) no-repeat center/cover;
  }
}

.breadcrumbs {
  &__wrapper {
    background: s.$boxColor;
  }

  span {
    display: inline-block;
    margin: 7px 6px;
    font-size: 12px;
    line-height: 20px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

// .breadcrumbs {
//   margin: 1.5em 0;
// }

// .breadcrumbs a {
//   color: #ffffff;
//   font-weight: bold;
//   font-size: small;
//   background-color: #e85d33;
//   border-radius: 4px;
//   padding: 4px 12px;
//   margin: 0 5px;
// }

// .breadcrumbs a:hover {
//   color: #000000;
//   background-color: #e88f74;
// }

// .breadcrumbs span[typeof="ListItem"]:last-child span[property="name"] {
//   display: none;
// }

//plan
.desc {
  margin-top: 77px;
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 66px;
  }

  &__item {
    position: relative;
    width: 280px;
    height: 90px;
    background: s.$baseColor;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 90px;
    text-align: center;

    &:not(:first-of-type) {
      margin-left: 98px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -50px;
        display: inline-block;
        width: 1px;
        height: 27px;
        background: s.$baseColor;
      }

      &:before {
        transform: translateY(-50%);
      }

      &::after {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }

  &__text {
    margin-top: 46px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7re;
  }

  @include s.sm {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      &:not(:first-of-type) {
        margin-top: 98px;
        margin-left: 0;

        &::before,
        &::after {
          top: -50%;
          left: 50%;
        }
      }
    }
  }
}

.detail {
  padding: 90px 0 67px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: calc((100% - 7px * 3) / 4);

    &::before {
      position: relative;
      display: block;
      content: "おすすめ";
      width: 100%;
      padding-top: 20px;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
    }

    &--recommend {
      &::before {
        background: s.$accentColor;
      }

      .detail__card__title {
        background: s.$accentColor;
      }

      .detail__card__price {
        color: s.$accentColor;
      }
    }

    &__title {
      position: relative;
      width: 100%;
      height: 60px;
      background: s.$baseColor;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 60px;
      text-align: center;
    }

    &__box {
      flex-grow: 1;
      padding: 20px 30px 94px;
      border-bottom: 1px solid s.$baseColor;
      border-left: 1px solid s.$baseColor;
      border-right: 1px solid s.$baseColor;
      text-align: center;
    }

    &__price {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 4rem;
    }

    &__notice {
      margin-top: 14px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.7rem;
    }

    &__list {
      margin-top: 49px;

      &__item {
        margin-top: 19px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;

        &--check {
          &::before {
            position: relative;
            bottom: 3px;
            content: "";
            display: inline-block;
            width: 13px;
            height: 9px;
            margin-right: 5px;
            border-bottom: 3px solid s.$baseColor;
            border-left: 3px solid s.$baseColor;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  @include s.md {
    // &__container {
    //   overflow-x: scroll;
    // }

    &__wrapper {
      min-width: 900px;
    }
  }
}

.article {
  padding: 60px 0 45px;

  &__list {
    margin-top: 60px;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;

    &:not(:first-of-type) {
      margin-top: 93px;
    }

    &__category {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 9px;
      background: s.$baseColor;
      color: #fff;
      font-size: 12px;
      line-height: 28px;
    }

    &__img {
      flex-basis: 26%;
    }

    &__contents {
      flex-basis: calc(74% - 50px);

      &__date {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.9rem;
      }

      &__title {
        margin-top: 20px;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.9rem;
        text-decoration: underline;
      }

      &__text {
        margin-top: 20px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
      }
    }
  }

  @include s.sm {
    &__item {
      flex-direction: column;

      &__contents {
        margin-top: 20px;
      }
    }
  }
}

.pagination {
  margin-top: 109px;
  display: flex;
  justify-content: center;

  > li {
    &:not(:first-of-type) {
      margin-left: 19px;
    }
  }

  &__md {
    margin-top: 80px;
    display: none;
    justify-content: center;

    > li {
      &:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }

  &__item,
  &__btn,
  &__dot {
    height: 50px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }

  &__btn {
    width: 30px;
    font-size: 2rem;
    border: 1px solid s.$baseColor;

    > a {
      display: inline-block;
      width: 100%;
      height: 50px;
    }
  }

  &__item {
    width: 50px;
    border: 1px solid s.$baseColor;

    > a {
      display: inline-block;
      width: 100%;
      height: 50px;
    }

    &__active {
      background: s.$baseColor;
      color: #fff;
    }
  }

  @include s.md {
    display: none;

    &__md {
      display: flex;
    }
  }
}

.news {
  padding: 58px 0 46px;

  &__wrapper {
    margin-top: 45px;
    border-top: 1px solid s.$newsBorderColor;
  }

  &__item {
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid s.$newsBorderColor;

    &__date {
      flex-basis: 136px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
    }

    &__title {
      padding-right: 25px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      text-decoration: underline;
    }
  }

  @include s.xsm {
    &__item {
      flex-direction: column;

      &__date {
        flex-basis: auto;
      }

      &__title {
        margin-top: 10px;
        padding-right: 0;
      }
    }
  }
}

.single {
  padding: 60px 0 69px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    flex-basis: 66%;
    max-width: 66%;
  }

  &__sidebar {
    flex-basis: calc(34% - 36px);

    &__title {
      width: 100%;
      background: s.$baseColor;
      color: #fff;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 60px;
      text-align: center;
    }
  }

  @include s.md {
    &__container {
      flex-direction: column;
    }

    &__wrapper {
      flex-basis: auto;
      max-width: none;
    }

    &__sidebar {
      flex-basis: auto;
    }
  }
}

.entry {
  h1 {
    margin-top: 30px;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 4.2rem;
  }

  &__body {
    h2 {
      margin-top: 40px;
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 3.9rem;
    }

    h3 {
      margin-top: 30px;
      position: relative;
      padding-left: 14px;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 3.3rem;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: inline-block;
        width: 4px;
        height: 2.8rem;
        background: s.$baseColor;
      }
    }

    p {
      margin-top: 30px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
    }

    blockquote {
      position: relative;
      margin-top: 30px;
      padding: 27px 26px 17px 74px;
      background: s.$boxColor;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;

      &::before {
        position: absolute;
        top: 16px;
        left: 17px;
        content: "“";
        color: #b4b4b4;
        font-size: 9rem;
        font-weight: 400;
        line-height: 1;
      }
    }

    img {
      margin-top: 30px;
    }

    ul {
      margin-top: 30px;

      > li {
        position: relative;
        padding-left: 36px;

        &::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 4px;
          width: 11px;
          height: 11px;
          background: s.$accentColor;
          border-radius: 50%;
        }
      }
    }

    a {
      display: inline-block;
      margin-top: 30px;
      color: s.$accentColor;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.4rem;
      text-decoration: underline;
    }
  }

  &__category {
    display: inline-block;
    padding: 0 25px;
    background: s.$baseColor;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__sns {
      &__facebook,
      &__share,
      &__twitter {
        padding: 0 8px;
        border-radius: 3px;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;

        > svg {
          position: relative;
          top: 1px;
          display: inline-block;
          width: 9px;
          height: 9px;
          margin-right: 5px;
        }
      }

      &__facebook,
      &__share {
        background: s.$snsColorFb;
      }

      &__twitter {
        background: s.$snsColorTw;
      }
    }
  }

  &__date {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;
  }

  &__img {
    width: 100%;
    margin-top: 22px;

    > img {
      width: 100%;
    }
  }
}

.recommend {
  padding: 60px 0 69px;

  &__title {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.9rem;
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &__category {
      position: absolute;
      padding: 0 12px;
      background: s.$baseColor;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      line-height: 28px;
      z-index: 5;
    }

    &__img {
      flex-basis: 36%;
    }

    &__contents {
      flex-basis: calc(64% - 32px);

      &__date {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.9rem;
      }

      &__title {
        margin-top: 29px;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.7rem;
        text-decoration: underline;
      }
    }
  }

  @include s.md {
    &__card {
      flex-direction: column;

      &__img {
        flex-basis: auto;
      }

      &__contents {
        flex-basis: auto;
        margin-top: 20px;

        &__title {
          margin-top: 10px;
        }
      }
    }
  }
}

.related {
  padding-bottom: 49px;

  &__wrapper {
    margin-top: 30px;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    &:not(:first-of-type) {
      margin-top: 39px;
    }

    &__img {
      flex-basis: 37%;
    }

    &__title {
      flex-basis: calc(63% - 17px);
      font-size: 12px;
      font-weight: 400;
      line-height: 2.4rem;
      text-decoration: underline;
    }
  }

  @include s.md {
    &__card {
      flex-direction: column;
      &__title {
        margin-top: 10px;
      }
    }
  }
}

.category {
  &__list {
    margin-top: 30px;

    &__item {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 3.9rem;

      &::before {
        content: "・";
      }
    }
  }
}

.news-single {
  padding: 30px 0 53px;
}

.form {
  padding: 58px 0 82px;

  &__container {
    width: 55%;
    max-width: 700px;
    margin: 0 auto;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;

    &__inner {
      margin-top: 29px;
    }

    > a {
      color: s.$accentColor;
      text-decoration: underline;
    }
  }

  &__wrapper--center {
    text-align: center;
  }

  form {
    dl {
      margin-top: 41px;

      > dt {
        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }

      > dd {
        margin-top: 12px;
      }
    }

    label {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.7rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      width: 100%;
      padding: 20px;
      border: 1px solid s.$baseColor;
      font-size: 12px;
      line-height: 20px;
      color: s.$baseColor;

      &::placeholder {
        color: #b4b4b4;
      }
    }

    input[type="radio"] {
      & + span {
        position: relative;
        display: inline-block;
        margin-top: 18px;
        padding-left: 39px;

        &::before {
          position: absolute;
          top: 3px;
          left: 0;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #707070;
        }

        &:after {
          content: "";
          position: absolute;
          top: 7px;
          left: 4px;
          opacity: 0;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: s.$baseColor;
          transition: 0.3s opacity ease;
        }
      }

      &:checked + span {
        &::after {
          opacity: 1;
        }
      }
    }

    input[type="checkbox"] {
      & + span {
        position: relative;
        display: inline-block;
        margin-top: 18px;
        padding-left: 39px;

        &::before {
          position: absolute;
          top: 3px;
          left: 0;
          content: "";
          width: 20px;
          height: 20px;
          border: 1px solid #707070;
        }

        &:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 2px;
          opacity: 0;
          width: 15px;
          height: 10px;
          border-bottom: 2px solid s.$baseColor;
          border-left: 2px solid s.$baseColor;
          transform: rotate(-45deg);
          transition: 0.3s opacity ease;
        }
      }

      &:checked + span {
        &::after {
          opacity: 1;
        }
      }
    }

    input[type="submit"] {
      display: block;
      margin: 0 auto;
      margin-top: 48px;
      width: 200px;
      background: s.$baseColor;
      border-radius: 5px;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 50px;
    }
  }

  @include s.sm {
    &__container {
      width: 80%;
    }
  }
}

.thanks {
  padding: 83px 0 80px;
  text-align: center;

  &__text,
  &__btn {
    font-size: 1.6rem;
    font-weight: 40;
    line-height: 2.7rem;
  }

  &__btn {
    display: inline-block;
    margin-top: 83px;
    text-decoration: underline;

    &:not(:first-of-type) {
      margin-left: 30px;
    }
  }
}
